@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form asp-action="Login" asp-controller="Login" method="post">
        <div>
            <label for="account">Account : </label>
            <input name="account" type="text" />
        </div>
        <div>
            <label for="password">Password : </label>
            <input name="password" type="password" />
        </div>
        <div>
            <input type="submit" />
        </div>
    </form>
</div>
